[Unit]
Description=OpenVPN LAN masquerade firewall conf for VPN reachback
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/sbin/iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
ExecStop=/sbin/iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
